@font-face {
  font-family: "iconfont";
  src: url("./iconfont.ttf?t=1787928937573") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huabi:before {
  content: "\e61f";
}

.icon-zanwugongdan:before {
  content: "\e647";
}
